### How to access the data using files
* CSV  => pd.read_csv('file name')
* excel => pd.read_excel('file name')
* json => pd.read_json('json file)
* Html => pd.read_html(url)

###  Convert your dataframe into files
* ex: pd.to_csv/to_excel/_json/to_html

In [5]:
# read csv file
import pandas as pd
'median'('studentdata.csv')
df

   sno    sname  sage
0  101    david    12
1  102  mounika    13
2  103    pandu    14

In [3]:
# convert csv file into excel
df.to_excel('studentexcel.xlsx')

In [6]:
# read excel into dataframe
df2=pd.read_excel('studentexcel.xlsl')
df2

FileNotFoundError: [Errno 2] No such file or directory: 'studentexcel.xlsl'

In [1]:
# convert csv file into json
# json: java script object no

### Todays Objectives

* How to access the data using conditions
* how to create dataframe using files
  * csv
  * Excel
  * json
  * HTML

In [6]:
import pandas as pd
import numpy as np
d={'sno':[101,102,103,104,105,106,107,108,109,110],
  'sname':['a','b','c','d','e','f','g','h','i','j'],
  'sage':[10,20,30,40,50,60,70,80,90,100]}
df=pd.DataFrame(d)
df

   sno sname  sage
0  101     a    10
1  102     b    20
2  103     c    30
3  104     d    40
4  105     e    50
5  106     f    60
6  107     g    70
7  108     h    80
8  109     i    90
9  110     j   100

In [6]:
# access the using condition
df['sage']>=50

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: sage, dtype: bool

In [7]:
df[df['sage']>=50]

   sno sname  sage
4  105     e    50
5  106     f    60
6  107     g    70
7  108     h    80
8  109     i    90
9  110     j   100

In [8]:
df['sname']=='c'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: sname, dtype: bool

In [9]:
df[df['sname']=='c']

   sno sname  sage
2  103     c    30

In [10]:
df[(df['sage']>=50) & (df['sage']<=70)]

   sno sname  sage
4  105     e    50
5  106     f    60
6  107     g    70

In [17]:
df[df['sno']==107]

   sno sname  sage
6  107     g    70

In [11]:
df['m1']=[90,97,98,96,80,90,99,100,96,80]
df['m2']=[80,67,98,86,83,30,89,70,97,86]
df['m3']=[70,87,48,76,70,80,99,40,92,84]

In [12]:
df

   sno sname  sage   m1  m2  m3
0  101     a    10   90  80  70
1  102     b    20   97  67  87
2  103     c    30   98  98  48
3  104     d    40   96  86  76
4  105     e    50   80  83  70
5  106     f    60   90  30  80
6  107     g    70   99  89  99
7  108     h    80  100  70  40
8  109     i    90   96  97  92
9  110     j   100   80  86  84

In [13]:
df['sum']=df['m1']+df['m2']+df['m3']

In [8]:
df

   sno sname  sage
0  101     a    10
1  102     b    20
2  103     c    30
3  104     d    40
4  105     e    50
5  106     f    60
6  107     g    70
7  108     h    80
8  109     i    90
9  110     j   100

In [9]:
df['avg']=df['Total']//3
df

KeyError: 'Total'

In [1]:
df['avg']=df['Total']//3
df

NameError: name 'df' is not defined

In [2]:
df[df['avg']>=85]

NameError: name 'df' is not defined

How to access the dataa using files

 * csv => pd.read_csv('file name')
 * excel => pd.read_excel('file name')
 * json => pd.reaad_json('json file')
 * HTML => pd.read_gtml(url)

### Convert your dataframe into files
 * ex: pd.to_csv/to_excel/to_json/to_html

In [7]:
import panda aas pd
import numpy as np
# read csv file
df=pd.read_csv('studentdata.csv')
df

SyntaxError: invalid syntax (<ipython-input-7-e40bbeeb75ac>, line 1)

In [8]:
import panda aas pd
import numpy as np
# read csv file
df=pd.read_csv('studentfile.csv')
df

SyntaxError: invalid syntax (<ipython-input-8-2ff759e620de>, line 1)

In [6]:
# Read csv file
import pandas as pd
import numpy as np
df=pd.read_csv('studentfile.csv')
df

   sno    sname  sage
0  101    david    12
1  102  mounika    13
2  103    pandu    14

In [7]:
# covert csv file into excel
df2=pd.read_excel('studentexcel.xlsx')
df2

   Unnamed: 0  sno    sname  sage
0           0  101    david    12
1           1  102  mounika    13
2           2  103    pandu    14

In [8]:
# convert csv file into json
# json: java script object notation
# json object({}); json array([]); json string(key:value)
 
json_data=df.to_json(orient='records')
json_data

'[{"sno":101,"sname":"david","sage":12},{"sno":102,"sname":"mounika","sage":13},{"sno":103,"sname":"pandu","sage":14}]'

NameError: name 'res' is not defined