### Tuples

* Tuple is like list
* Tuple is collection of items
* Tubles is a immutable => we can't update the data
* In tuple we can pass multiple data types of values
* Tuples can be create using()

In [4]:
# create a tuple
a=(10,20,30,"hi",10.23,True, (3+2j))
a

(10, 20, 30, 'hi', 10.23, True, (3+2j))

In [5]:
type(a)

tuple

In [6]:
for i in a:
    print(i,end=" ")

10 20 30 hi 10.23 True (3+2j)

In [7]:
a[2]

30

In [8]:
a[3]

'hi'

In [9]:
a[2:]

(30, 'hi', 10.23, True, (3+2j))

In [10]:
a[::-2]

((3+2j), 10.23, 30, 10)

In [11]:
a[::-1]

((3+2j), True, 10.23, 'hi', 30, 20, 10)

In [12]:
a[1:5]

(20, 30, 'hi', 10.23)

In [13]:
a[1:5:2]

(20, 'hi')

In [14]:
a[0:6:1]

(10, 20, 30, 'hi', 10.23, True)

In [16]:
# difference b/w List and Tuples
l=[10,20,30]
l[2]=400
l

#Tupes
t=(10,20,30)
t[2]=400
t

TypeError: 'tuple' object does not support item assignment

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [18]:
t=(1,1,1,2,2,3,4,5,6,7)
t.count(1)

3

In [19]:
t.index(3)

5

In [20]:
t.index(2)

3

In [22]:
# print the values of 2
# t=(1,1,1,2,2,3,4,5,6,7) => output 3,4
t.index()

SyntaxError: invalid syntax (<ipython-input-22-36891540b57a>, line 3)

In [26]:
t=(10,20,30,["hi",23,33])
t

(10, 20, 30, ['hi', 23, 33])

In [29]:
l=[10,20,30]
t=(100,200,300,l)
t

(100, 200, 300, [10, 20, 30])

In [32]:
t[3][1]

20

In [35]:
t=(10,20,30,(100,200,300),(40))
t

(10, 20, 30, (100, 200, 300), 40)

In [40]:
# type convrsion
l=[10,20,30,40,50]
t=tuple(l)
t


t=(10,20,30,40,50)
l=list(t)
l

[10, 20, 30, 40, 50]

### sets:

* set is a collection of iteams without duplicate data
* set is un-order data type(index is not possible in set)
* seet is create by using {} with items

In [41]:
a={1,2,3,4,5}

In [42]:
type(a)

set

In [46]:
a={}
type(a)

dict

In [48]:
a={1,10,3,2,1,1,2,100,"hellowelcome","hello",True,2+3j}
a

{(2+3j), 1, 10, 100, 2, 3, 'hello', 'hellowelcome'}

In [1]:
a=set()   
type(a)

set

In [3]:
a={10,20,30,[100,200,300]}
a

TypeError: unhashable type: 'list'

In [8]:
a=set([10,20,30])
a

{10, 20, 30}

In [9]:
a={10,20,30,40,50}
a[0]

TypeError: 'set' object is not subscriptable

In [10]:
for i in a:
    print(i,end=" ")

40 10 50 20 30

In [11]:
a=set()
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [39]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
#a.add(220)
#a.clear()
#del(a)
#a1=a.copy()
#a.difference_update(b)  # a-b
#a.discard(5)
#a.intersection_update(b)
#b.difference(a)


#a={1,2,3,6}
#b={4,5,6}
#a.isdisjoint(b)

a={1,2,3,4,5,6,7}
b={1,2,3}
#a.issuperset(b)
#a.issubset(b)
b.issubset(a)

True

In [40]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.pop()
a

{2, 3, 4, 5, 6, 7}

In [41]:
b={1,2,30,23,55,6,7}
b.remove(30)
b

{1, 2, 6, 7, 23, 55}

In [44]:
# difference blw remove and discard
b={1,2,30,23,55,6,7}
#b.discard(100) # dosen't show errors

b.remove(100) # its show errors

KeyError: 100

In [47]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.symmetric_difference(b)

{3, 4, 5, 23, 30, 55}

In [49]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 23, 30, 55}

In [50]:
s1={10,20,30}
s2={True,"hello",30}
s1.update(s2)

In [51]:
s1

{10, 20, 30, True, 'hello'}

### Task2:

* remove the duplicate elements in list without using function
* ex:[10,20,20,20,30,30,40,50]

### Task3:
 * remove the string type of data from list
 * ex: [10,20,'hello',"welcome",30,40] => [10,20,30,40]

In [55]:
l=[10,20,20,20,30,30,40,50]
l1=[]
for i in l:   # 10
    if i not in l1:
        l1.append(i)
l1

[10, 20, 30, 40, 50]

In [56]:
# from using set remove the duplicate elememts list
l=[10,20,20,20,30,30,40,50]
s=list(set(l))
s

[40, 10, 50, 20, 30]

In [62]:
s=[10,20,'hello',"welcome",30,40]
s=" "
for i in range(s):
type(s)=!str

s

SyntaxError: invalid syntax (<ipython-input-62-ea4d702de214>, line 3)