### Dictionaries:

* Dictionary have collection of items.
* It stores the data with key-value pair
* It can be declare or create using {} or dict function
* dictionary have unorder index positions

` syntax: d={"keyname":"value"}

      => keyname : unique
      => value   : it may be unique

In [1]:
d={"name":"rahul","age":"20","marks":"85"}
d

{'name': 'rahul', 'age': '20', 'marks': '85'}

In [2]:
d={"name":"rahul","age":20,"marks":"85"}
d

{'name': 'rahul', 'age': 20, 'marks': '85'}

In [3]:
d={1:10,2:20,3:30}
d

{1: 10, 2: 20, 3: 30}

In [4]:
d={"name":"raju","age":25,"add":"hyderabad","marks":87}
d

{'name': 'raju', 'age': 25, 'add': 'hyderabad', 'marks': 87}

In [5]:
# add new key-value pair in existing dictionary
d['location']='ameepet'
d

{'name': 'raju',
 'age': 25,
 'add': 'hyderabad',
 'marks': 87,
 'location': 'ameepet'}

In [6]:
# access the data from dict
d['marks']
d.get('marks')

87

In [7]:
d['age']
d.get('age')

25

In [8]:
# get the key names
d.keys()

dict_keys(['name', 'age', 'add', 'marks', 'location'])

In [9]:
# get the values
d.items()

dict_items([('name', 'raju'), ('age', 25), ('add', 'hyderabad'), ('marks', 87), ('location', 'ameepet')])

In [10]:
# create a dictionary with Liist of tuples
d=dict([('name','raju'),('age',25),('add','hyd')])
d

{'name': 'raju', 'age': 25, 'add': 'hyd'}